﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="candiates.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" Runat="Server">


           <div class="jumbotron header-simple">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About us</h2>
                    <p><a href="#" class="color1">Home</a> / <a href="#"  class="color1"> About us  </a></p>
                </div>
            </div>
        </div>
    </div>
    <section id="contact-us">
       
        <!-- message content -->
        <div class="container fadesimple">
           
            <div class="col-sm-12 contact-info">
                <!-- header contact info -->
                <div class="col-sm-12">
                   
    <div class="table-pricing">
        <div class="row">

            <div class="default-title">
                        <h3>Adilabad - Candiate List</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio vel possimus aliquam.</p>
                    </div>
            
             <div class="row">
                <div class="table-responsive">
                <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>S.No.</th> 
                        <th>Constituency</th> 
                        <th>State</th> 
                        <th>State</th>  
                        <th>Action</th>
                    </tr>
                </thead> 
                        <tr>
                        <th>S.No.</th> 
                        <th>Constituency</th> 
                        <th>State</th> 
                        <th>State</th>   
                        <td>
                            
                            <a class="btn   btn-warning radius5 btn-sm">   <i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn   btn-red radius5 btn-sm">   <i class="fa fa-trash" aria-hidden="true"></i></a> 


                        </td>
                        </tr>
                        
                     
                </table>
                </div>
             </div>
        </div>
    </div>
                    <!-- end of header info -->
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphFooter" Runat="Server">
</asp:Content>

