﻿<%@ Page Title="" Language="C#" MasterPageFile="~/cpc.master" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" Runat="Server">


      <div class="col-sm-12">
                
                        <%--<div class="default-title">
                          <h3><asp:Label ID="lblDistrict" runat="server" ></asp:Label></h3> 
                    </div>
                    <img src="" alt="image description" runat="server" id="imagedis" style="width:100%;height:170px"/>--%>
          <asp:Button runat="server" ID="btnfb" OnClick="image_Click" />
        <%--  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A50795%2FDefault2.aspx&layout=button_count&size=small&mobile_iframe=true&appId=162177901001973&width=69&height=20" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>--%>
                </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphFooter" Runat="Server">
</asp:Content>

